<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>
    <h1 class="text-center py-5">{{title}}</h1>




    <form action="/" method="POST" class="col-6 m-auto p-5  form">

        <input type="hidden" name="_id" value="{{student._id}}">

        <div class=" form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name"
                value="{{student.name}}">
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email"
                value="{{student.email}}">
        </div>


        <div class="form-group">
            <input type="text" class="form-control" id="branch" name="branch" placeholder="Enter Branch"
                value="{{student.branch}}">
        </div>

        <div class="form-group">
            <input type="city" class="form-control" id="city" name="city" placeholder="Enter City"
                value="{{student.city}}">
        </div>


        <div>
            <label for=""> Gender : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
        </div>


        <div>
            <label for=""> Year : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="year" id="first-year" value="1st Year">
                <label class="form-check-label" for="first-year">First Year</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="year" id="second-year" value="2nd Year">
                <label class="form-check-label" for="second-year">Second Year</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="year" id="third-year" value="3rd year">
                <label class="form-check-label" for="third-year">Third Year</label>
            </div>
        </div>



        <div class="mt-5">
            <button type="submit" class="btn btn-success mr-4">Add Student <i class="fas fa-plus"> </i></button>
            <a href="/list" class="btn btn-warning">View List <i class="fas fa-eye"></i></a>
        </div>

    </form>



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>